@use "./variables" as *;
@use "./typography" as *;

@mixin reset {
    html {
        box-sizing: border-box;
      }
      
      *,
      * ::before,
      * ::after {
        box-sizing: border-box;
        margin: 0;
      }
      
      body {
        font-family:$font-regular;
        color: $color-primary-white;
        margin: 0;
      }
}


@mixin mobile {
  @media (min-width: $breakpointmobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpointtablet) {
    @content;
  }
}

@mixin between-tablet-desktop {
  @media (min-width: $breakpointbetween-tablet-desktop) {
    @content;
  }
}

@mixin desktop {
  @media  (min-width: $breakpointdesktop) {
    @content;
  }
}

@mixin padding-headline {
  padding-top: 48px;
  padding-bottom: 36px;
  @include tablet {
    padding-top: 48px;
    padding-bottom: 36px;
  }
 
}
@mixin padding-component {
  padding-top: 48px;
  padding-bottom: 36px;
  @include tablet {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

@mixin padding-images {
  padding-bottom: 8px;
  @include tablet {
    padding-bottom: 4px;
  }
}



@mixin page-header {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  font-family: $font-bold;
  @include mobile{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: $font-bold;
  }
}

@mixin section-header {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  @include between-mobile-tablet() {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: $font-bold;

  }
}

@mixin subheader {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: $font-demi;
  @include mobile() {
    font-size: 14px;;
    line-height: 22px;
    font-weight: 600;
    font-family: $font-demi;
  }
}


@mixin body-copy {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: $font-regular;
  @include mobile() {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-family: $font-regular;
  }
}


@mixin footer-copy{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: $font-regular;
    @include between-mobile-tablet() {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      font-family: $font-regular;
    }
  }



@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex($align:normal, $justify:normal, $direction:row, $wrap:nowrap, $gap:5vw){
  display:flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap:$wrap;
  column-gap: $gap;
}


@mixin btn {
  width:100%;
  height:3.25rem;
  background-color: $clr-primary-black;
  //color:$alternative-background;
  text-transform: uppercase;
  // font-size:1rem;
  // font-weight:500;
  
  font-size:1.25rem;
  font-weight: 400;
  border:none;
  border-radius:4px;
  letter-spacing: 0.05rem;
  align-self: flex-end;
  margin-top:1.25rem;
  margin-bottom:0.5rem;
  cursor: pointer;
  transition: $transition;
  &:hover{
      background-color: black;
  }
}


@mixin fontBold_pageHeader($size:3.75rem, $weigth:700, $color:$clr-primary-silver, $line:4.25rem) {
    font-family: $font-bold;
    font-size: size;
    font-weight: $weigth;
    color:$color;
    line-height: $line;
}

@mixin text-customized($size:1.45rem, $pad:2.25rem 3rem 0 3rem, $w: 37rem) {
  font-size: $size;
  padding: $pad;
  width: $w;
}

@mixin font($size:1rem, $weight: 500, $color:$clr-primary-silver, $line:normal) {
  font-family:'avenir';
  font-size:$size;
  font-weight:$weight;
  color: $color;
  line-height: $line;
}

@mixin btn ($w:100%){
  width:$w;
  height:3.25rem;
  background-color: $clr-primary-black;
  //color:$alternative-background;
  text-transform: uppercase;
  // font-size:1rem;
  // font-weight:500;
  @include font($size:1.25rem, $weight:400, $color:$alternative-background);
  border:none;
  border-radius:4px;
  letter-spacing: 0.05rem;
  align-self: flex-end;
  margin-top:1.25rem;
  margin-bottom:0.5rem;
  cursor: pointer;
  transition: $transition;
  &:hover{
      background-color: black;
  }
}
