$breakpointmobile: 460px;
$breakpointtablet: 768px;

$breakpointdesktop: 1280px;

$clr-primary-black: #323232;
$clr-primary-silver: #AFAFAF;
$clr-primary-white: #FFFFFF;

$clr-secondary-black:#000000;
$clr-secondary-mercury:#E1E1E1;
$clr-secondary-alabaster:#FAFAFA;




$font-regular: 'AvenirNexRegular';
$font-demi: 'AvenirNextDemi';
$font-bold: 'AvenirNextBold';